exportPattern("^[^\\.]")
import(lpSolveAPI)
import(ineq)
#import(kappalab)
import(combinat)
import(gtools)
importFrom("kappalab", Shapley.value)
importFrom("kappalab", set.func)
importFrom("graphics", "axis", "barplot", "legend", "lines", "par","plot")
importFrom("stats", "C")
S3method(summary, ClaimsRule)
S3method(summary, ClaimsRules)
S3method(summary, Game)
S3method(summary, Nucleolus)
S3method(summary, ShapleyShubik)
S3method(summary, ShapleyValue)
S3method(plot, ClaimsRules)